Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Tripo3D UE Bridge plugin
Plugins/Tripo3DUEBridge-UE5.7-Win64/
Content/_Game/_Temp/
